In [ ]:
#The below is an example of a dataset that a grocery store owner may take to make records.

In [1]:
from xml.etree import ElementTree as ET
import pandas as pd

xml = """<?xml version="1.0"?>
<orders>
    <order name="order_1">
        <bananas>0</bananas>
        <apples>5</apples>
        <strawberries>1 </strawberries>
        <price>10.00</price> 
        <tax>1.00</tax>
    </order>
    <order name="order_2">
        <bananas>7</bananas>
        <apples>2</apples>
        <strawberries>3</strawberries>
        <price>20.00</price> 
        <tax>2.00</tax>
    </order>
    <order name="order_3">
        <bananas>3</bananas>
        <apples>6</apples>
        <strawberries>13</strawberries>
        <price>30.00</price> 
        <tax>3.00</tax>
    </order>
</orders>"""

tree = ET.XML(xml)
with open("test.xml", "wb") as f:
    f.write(ET.tostring(tree))

In [2]:
#I created "test.xsd" to make sure all future xml formats follow the one above.
#The function below writes out the xml file to a dataframe if it fits the schema.

In [11]:
from lxml import etree

def load_dataframe(xml_input):
    xml_file = etree.parse(xml_input)
    xml_validator = etree.XMLSchema(file= "test.xsd")

    is_valid = xml_validator.validate(xml_file)

    
    if is_valid:
        root = ET.parse(xml_input).getroot()

        tags = {"tags":[]}
        for elem in root:
            tag = {}
            tag["Price"] = elem.find('price').text
            tag["Tax"] = elem.find('tax').text
            tag["Bananas"] = elem.find('bananas').text
            tag["Apples"] = elem.find('apples').text
            tag["Strawberries"] = elem.find('strawberries').text
            tags["tags"]. append(tag)

        df_users = pd.DataFrame(tags["tags"])
        return df_users

    else:
        print('The data must be reformatted to fit the schema.')

In [ ]:
#"test2.xml" fits the schema,so a dataframe is outputted

In [14]:
load_dataframe('test2.xml')

          Price           Tax Bananas Apples  Strawberries
0  2.7182818284  2.7182818284       1      1  2.7182818284
1  2.7182818284  2.7182818284       1      1  2.7182818284
2  2.7182818284  2.7182818284       1      1  2.7182818284
3  2.7182818284  2.7182818284       1      1  2.7182818284
4  2.7182818284  2.7182818284       1      1  2.7182818284
5  2.7182818284  2.7182818284       1      1  2.7182818284
6  2.7182818284  2.7182818284       1      1  2.7182818284

In [ ]:
#"test3.xml" does not fit the schema, so a dataframe is not outputted.

In [15]:
load_dataframe('test3.xml')

The data must be reformatted to fit the schema.